.nft__connect
	display flex
	flex-direction column
	width 100%
	padding $gap
	border-radius $border-radius
	border $border
	margin-top 50px
	transition opacity $transition

	&-title
		color $color-text
		font-size 20px
		font-weight $bold
		margin-bottom $gap-big

	&-list
		display flex
		flex-direction column

	&-item
		display flex
		justify-content space-between
		align-items center

		&:not(:first-child)
			margin-top $gap-big

		&._disabled
			opacity .7
			pointer-events none

	&-text
		font-size 18px
		transition color $transition
		color $color-text

		& i
			margin-right 15px

	&-item._connected &-text
		color $color-ui
