.ui-chain
	height 40px
	min-width 40px
	max-width 40px
	flex-center()
	background-color $color-background-third
	padding 9px
	transition background-color $transition

	&:hover
		background $color-border

	& path
		fill $color-error

	& img
		width 100%
		height auto
