.ui-tag
	border-radius $border-radius-middle
	padding 4px $gap-small
	font-size 18px
	flex-center()

	&._m
		height 24px
		font-size 14px

	&._l
		height 30px
		font-size 16px

	&._loading
		loading()
