.ui-tooltip
	&__overlay
		& .ant-tooltip-arrow::before, & .ant-tooltip-inner
			background-color $color-text-third

		& .ant-tooltip-inner
			font-size 14px
			color $color-text-inversion
			padding $gap-small
