.dashboard
	display flex
	flex-direction column

	&__title
		font-size 24px
		font-weight $bold
		margin-bottom $gap

	&__tops
		width 100%
		display flex
		justify-content space-between
		align-items center

	&__info
		display flex
		flex-direction column
		padding $gap
		width 100%
		margin-top $gap
		background-color $color-background
		border-radius $border-radius
		border $border

		&-title
			font-size 20px
			font-weight $bold
			margin-bottom 7px

		&-subtitle
			font-size 18px
			opacity .8
