@media screen and (max-width: 1360px)
	.dashboard__games
		&-name
			font-size 16px

		&-param
			font-size 14px

		&-filters
			width 100%
			flex-direction column
			align-items flex-start
			margin-bottom $gap-big

		&-checkboxes
			margin-top $gap
			margin-left 0
			width 100%

		& .ant-table .ant-table-tbody td
			min-width 170px

