@media screen and (max-width: 1200px)
	.referral__total
		flex-direction column
		padding $gap

		&-row, &-link
			margin-top $gap-small

		&-name
			font-size 14px

		&-item
			width 150px

			&._copy
				margin 0
				margin-top $gap
				min-width auto
				max-width auto

		&-item._copy &-name
			fopnt-size 16px
