.profile-game__achievements
	margin-top $gap-extra-large

	&, &-block
		display flex
		flex-direction column
		width 100%

	&-block
		&:not(:first-child)
			margin-top $gap-large

	&-head
		display flex
		justify-content space-between
		align-items center
		width 100%

	&-title
		font-size 20px
		font-weight $bold

	&-list
		display flex
		flex-direction column
		margin-top $gap-small

	&-item
		width 100%
		display flex
		justify-content space-between
		align-items center
		padding $gap-small 0

		&:not(:first-child)
			border-top $border

		& .ui-button
			min-width 64px

	&-profile
		display flex
		justify-content flex-start
		align-items center
		width 400px

	&-img
		height 64px
		width 64px
		object-fit cover
		pointer-events none

	&-text
		display flex
		flex-direction column
		margin-left $gap-small

	&-name
		font-size 18px
		font-weight $bold

	&-description
		font-size 13px
		margin-top $gap-extra-small

	&-stats
		display flex
		width 250px

		& > .ui-statistic
			width 100px

			&:not(:first-child)
				margin-left $gap

	&-points, &-user
		display flex
		justify-content flex-start
		align-items center
		color $color-text
		font-size 14px

		& svg
			height 16px
			width 16px
			margin-right $gap-small

	&-points path
		fill $color-ui

	&-user path
		fill $color-text

	&-action
		display flex
		align-items center
		justify-content flex-end
		width 150px

	&-item._disabled &-img
		filter grayscale(100%)

	&-item._disabled .ui-statistic__data-text
		color $color-text-disabled

	&-item._disabled path
		fill $color-text-disabled

	&-item._claimed .ui-button
		background-color $color-background-third
		color $color-text

		&:hover
			background-color $color-background-secondary

	&-item._claimed &-points path
		fill $color-text

	&._loading &-title, &._loading &-img, &._loading &-name, &._loading &-description, &._loading .ui-button
		loading()

	&._loading &-name
		width 50%
