@media screen and (max-width: 800px)
	.profile__airdrop
		padding $gap

		&-background
			position absolute
			top -19px
			right -51px
			height 186px
			width 264px

		&-title
			font-size 20px

		&-description
			font-size 14px
			min-width 170px

		&-button
			max-width 325px
