@media screen and (max-width: 800px)
	.profile
		&__main
			padding $gap

		&__content
			margin-top $gap

		&__user
			&-name
				max-width 175px

		&__social .ui-connect
			height 30px
			min-width 90px
			padding 0
