@media screen and (max-width: 800px)
	.profile-game__achievements
		margin-top $gap-large

		&-list
			margin-left -16px
			margin-right -16px

		&-item, &-stats
			justify-content flex-start
			align-items flex-start
			width 100%

		&-item
			flex-direction column
			padding $gap

		&-img
			height 48px
			width 48px

		&-name
			font-size 16px

		&-description
			font-size 12px

		&-stats
			margin-top $gap
			width 100%

			& > .ui-statistic
				width 100px

