.profile__airdrop
	background #7B3FE4
	border $border
	border-radius $border-radius-middle
	padding $gap-big $gap-large
	margin-top $gap
	position relative
	overflow hidden
	max-width 650px

	&-background
		position absolute
		top -19px
		right -51px
		height 200px
		width: 296px

	&-title
		color $color-text
		font-weight $bold
		font-size 24px
		line-height 28px
		margin-bottom $gap-small
		z-index 1
		position relative

	&-description
		color $color-text-third
		font-size 16px
		line-height $line-height
		margin-bottom $gap
		min-width 195px
		width 53%
		z-index 1
		position relative

	&-coin
		font-weight $bold

	&-button
		width 100%
		max-width 400px


