@media screen and (max-width: 700px)
	.layout__footer
		padding-bottom 20px

		&-main
			justify-content flex-start
			align-items flex-start
			flex-direction column

		&-contacts
			margin-top $gap-large
