// Ant-design styles
@require "../../node_modules/ant-design-vue/dist/antd.min.css"

// Mixins
@require "mixins/*.styl"

// Base
@require "base/variables.styl"
@require "base/normalize.styl"
@require "base/base.styl"

// Ui-kit
@require "ui-kit/*.styl"

// Transitions
@require "transition/*.styl"

// Animations
@require "animation/*.styl"

// Layout
@require "layout/layout.styl"
@require "layout/layout-header.styl"
@require "layout/layout-social.styl"
@require "layout/layout-footer.styl"
@require "layout/layout-profile.styl"
@require "layout/layout(1360px).styl"
@require "layout/layout(1320px).styl"
@require "layout/layout(1024px).styl"
@require "layout/layout-header(1024px).styl"
@require "layout/layout(700px).styl"
@require "layout/layout-social(500px).styl"
@require "layout/layout-footer(700px).styl"

// Layout | Error
@require "error/error.styl"

// Page | Auth showcase
@require "auth-showcase/auth-showcase.styl"

// Component | Network
@require "network/network-modal.styl"

// Page | Login
@require "login/login.styl"
@require "login/login-block.styl"
@require "login/login(800px).styl"

// Page | Index
@require "privacy/privacy.styl"

// Page | Index
@require "index/index.styl"

// Page | Dashboard
@require "dashboard/dashboard.styl"
@require "dashboard/dashboard-top.styl"
@require "dashboard/dashboard-games.styl"
@require "dashboard/dashboard-top(1360px).styl"
@require "dashboard/dashboard-top(1024px).styl"
@require "dashboard/dashboard-games(1360px).styl"
@require "dashboard/dashboard-games(700px).styl"

// Page | Games detail (game)
@require "game/game.styl"
@require "game/game-profile.styl"
@require "game/game-social.styl"
@require "game/game-statistic.styl"
@require "game/game-pictures.styl"
@require "game/game-backers.styl"
@require "game/game-tokens.styl"
@require "game/game-charts.styl"
@require "game/game-chart.styl"
@require "game/game-articles.styl"
@require "game/game(1265px).styl"
@require "game/game-articles(1024px).styl"
@require "game/game-charts(1360px).styl"
@require "game/game(700px).styl"
@require "game/game-profile(700px).styl"
@require "game/game-social(700px).styl"
@require "game/game-articles(700px).styl"

// Page | CRM
@require "crm/crm.styl"
@require "crm/crm-total.styl"
@require "crm/crm-scholars.styl"
@require "crm/crm-total(1360px).styl"
@require "crm/crm(700px).styl"
@require "crm/crm-total(700px).styl"

// Page | NFT
@require "nft/nft.styl"
@require "nft/nft-item.styl"
@require "nft/nft-reward.styl"
@require "nft/nft-detail.styl"
@require "nft/nft-connect.styl"
@require "nft/nft-detail(1360px).styl"
@require "nft/nft-detail(700px).styl"
@require "nft/nft-connect(700px).styl"

// Page | Airdrop
@require "airdrop/airdrop.styl"

// Page | Airdrop
@require "calendar/calendar.styl"
@require "calendar/calendar-table.styl"
@require "calendar/calendar-widgets.styl"
@require "calendar/calendar-widgets(1200px).styl"
@require "calendar/calendar-upcoming.styl"
@require "calendar/calendar-trending.styl"
@require "calendar/calendar-trending(700px).styl"
@require "calendar/calendar-upcoming(1200px).styl"
@require "calendar/calendar-upcoming(700px).styl"

// Page | Profile
@require "profile/profile.styl"
@require "profile/profile-referral.styl"
@require "profile/profile-stats.styl"
@require "profile/profile-stats-item.styl"
@require "profile/profile-stats-charts.styl"
@require "profile/profile-game-add.styl"
@require "profile/profile-game-achievements.styl"
@require "profile/profile-edit.styl"
@require "profile/profile-game.styl"
@require "profile/profile-achievements.styl"
@require "profile/profile-achievement.styl"
@require "profile/profile-achievement-modal.styl"
@require "profile/profile-wallet.styl"
@require "profile/profile-available.styl"
@require "profile/profile-games.styl"
@require "profile/profile-connect-list.styl"
@require "profile/profile-connect.styl"
@require "profile/profile-about.styl"
@require "profile/profile-public.styl"
@require "profile/profile-airdrop.styl"
@require "profile/profile-airdrop-modal.styl"
@require "profile/profile-phantom.styl"
@require "profile/profile(1320px).styl"
@require "profile/profile-game(1320px).styl"
@require "profile/profile-public(1320px).styl"
@require "profile/profile-airdrop(1320px).styl"
@require "profile/profile(1120px).styl"
@require "profile/profile(800px).styl"
@require "profile/profile-edit(800px).styl"
@require "profile/profile-game-achievements(800px).styl"
@require "profile/profile-achievement-modal(800px).styl"
@require "profile/profile-achievement-modal(height-800px).styl"
@require "profile/profile-stats(800px).styl"
@require "profile/profile-achievements(800px).styl"
@require "profile/profile-stats-item(800px).styl"
@require "profile/profile-connect-list(800px).styl"
@require "profile/profile-connect(800px).styl"
@require "profile/profile-airdrop(800px).styl"

// Page | Leaderboard
@require "leaderboard/leaderboard.styl"
@require "leaderboard/leaderboard-tops.styl"
@require "leaderboard/leaderboard-top.styl"
@require "leaderboard/leaderboard-rewards.styl"
@require "leaderboard/leaderboard-table.styl"
@require "leaderboard/leaderboard(1100px).styl"
@require "leaderboard/leaderboard-rewards(1200px).styl"
@require "leaderboard/leaderboard-rewards(800px).styl"
@require "leaderboard/leaderboard(800px).styl"

// Page | Referral
@require "referral/referral.styl"
@require "referral/referral-total.styl"
@require "referral/referral-info.styl"
@require "referral/referral-table.styl"
@require "referral/referral-total(1200px).styl"
@require "referral/referral-info(1200px).styl"
