.leaderboard__table
	margin-top $gap-big

	&-index
		& > p
			color $color-text
			font-size 14px

		&._gold path
			fill $color-gold

		&._sliver path
			fill $color-silver

		&._bronze path
			fill $color-bronze

	&-profile
		display flex
		justify-content flex-start
		align-items center
		max-height 50px
		cursor pointer
		transition opacity $transition

		& .ui-avatar
			border $border

		&:hover
			opacity .8

		& .ui-tag
			margin-left $gap-small

	&-info
		margin-left $gap
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start

	&-name
		font-size 16px

	&-wallet
		font-size 12px
		color $color-text-disabled
		margin-top 5px

	&-text
		font-size 16px

	& .ant-table
		&-thead > tr > th:last-child
			padding-right 27px

		&-tbody > tr, &-tbody > tr > td
			max-height 28px !important
			min-height 28px
			height 28px !important
			padding 6px 12px

	&._loading &-index, &._loading &-text, &._loading &-name, &._loading &-wallet, &._loading &-avatar
		loading()

	&._loading &-avatar
		height 40px
		width 40px
		border-radius $border-radius-circle

	&._loading &-index
		height 15px
		width 15px
		margin-left auto
		margin-right auto
