.leaderboard
	display flex
	flex-direction column
	width 100%

	&__intro
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__info
		display flex
		flex-direction column
		max-width 450px

		&-title
			font-size 28px
			font-weight $bold
			line-height 32px

		&-description
			font-size 14px
			margin-top $gap-small
			color $color-text-third

	&__filters
		display flex
		justify-content flex-end
		align-items center

	&__search
		width 280px
		height 40px
		margin-right $gap-big

		& input
			height 40px
