@media screen and (max-width: 800px)
	.leaderboard
		&__filters
			flex-direction column
			justify-content flex-start
			align-items flex-start

			& .ui-radio
				margin-top $gap

		&__search
			margin-right 0
