.auth-showcase
	&__body
		display flex
		justify-content flex-start
		margin-top: $gap-big
		grid-gap $gap-big
		gap $gap-big

	&__block
		display flex
		flex-direction column
		grid-gap $gap
		gap $gap
		min-width 300px
		padding $gap-big
		border-radius $border-radius
		border $border
		background-color $color-background

		p
			font-size 18px
			font-weight $bold

	&__logout
		margin-top $gap-big
		width 300px
